* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #eee;
    color: #333;
}

p {
    margin-bottom: 0.8rem;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

a {
    color: #333;
    text-decoration: none;
}

strong {
    color: #f1c40f;
    font-weight: 400;
}

em {
    color: #555;
}

ul {
    list-style: none;
}

/* class */

.container {
    display: block;
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.bg-dark {
    background: #333;
    color: #fff;
}

/* vp + header */

.vp-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 2rem;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 1.8rem;

    & .vp-logo {
        margin-bottom: 0;
        font-family: "Long Cang", cursive;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        i {
            color: #f1c40f;
            font-size: 1.8rem;
            margin-right: 0.5rem;
        }

        a {
            font-size: 3.5rem;
            font-weight: 300;
        }
    }

    a {
        color: #fff;
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;

        li {
            padding: 1rem;

            a:hover {
                color: #f1c40f;
            }
        }
    }
}

.vp {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/frame.jpg) center center/cover;
    padding: 10rem 0;
}

.vp-content {
    max-width: 800px;
    text-align: center;
    color: #fff;

    h1 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 2rem;
    }
}

/* offer */

.offer {
    padding: 10rem 1rem;

    .offer-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .offer-elem {
            border: 1px solid #ddd;
            background: #fff;
            margin: 1rem;
            flex: 1;

            .offer-elem-img {
                width: 100%;
            }

            .offer-elem-text {
                padding: 2rem;
                text-align: center;

                .offer-separator {
                    margin: 1rem auto;
                    height: 2px;
                    width: 50px;
                    background: #333;
                }
            }
        }
    }
}


/* who */

.who {
    display: flex;
    flex-flow: row nowrap;

    .who-img {
        flex: 1;

        img {
            width: 100%;
        }
    }

     .who-text {
      flex: 1;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
}

/* testimonials */

.testimonials {
    padding: 5rem 1rem;

    .testimonials-content {
        display: flex;
        flex-direction: column;

        .testimonials-elem {
            flex: 1;
            background: #fff;
            border-radius: 5px;
            padding: 2rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .testimonials-elem-text {
                padding: 0 2rem;
            }

            .testimonials-elem-profil {

                p {
                    font-weight: 700;
                    margin-bottom: 0.5rem;

                    i{
                        margin: 0.2rem;
                    }
                }

                img {
                    width: 50px;
                    border-radius: 50px;
                    margin-bottom: 0.5rem;
                    text-align: center;
                }
            }
        }
    }
}

/* contact */

.contact {
    padding: 10rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-form {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            background: #333;
            border: 0;
            border-bottom: 1px solid #555;
            padding: 1rem;
            font-size: 1.3rem;
            color: #fff;
            outline: 0;
            margin-bottom: 1rem;
        }

        button {
            display: block;
            margin: 3rem auto;
            padding: 1rem 2rem;
            border: 0;
            border-radius: 30px;
            background: #f1c40f;
            color: #fff;
            font-weight: 700;
            font-size: 1.3rem;
            cursor: pointer;
        }

        button:hover {
            background: orange;
        }
    }
}

/* footer */

footer {
    background: #444;
    padding: 5rem 1rem;
    color: #fff;
    text-align: center;

    p {
        margin-bottom: 0;
    }
}