/* class */

.title {
    text-align: center;
}

/* vp + header */

header {
    flex-direction: column;

    ul {
        flex-direction: column;
        text-align: center;

        li {
            margin-top: 1.5rem;
            padding: 0.5rem;
            border-bottom: 1px dotted #ddd;
        }
    }
}

.vp {
    padding: 3rem 0;
}

.vp-content {

    padding: 0 2rem;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

}

/* offer */

.offer {
    padding: 5rem 1rem;
    text-align: center;

    .offer-list {
        flex-direction: column;
    }
}

/* who */

.who {
    flex-direction: column-reverse;
        
    .who-img {
        min-height: 300px;
    }

    .who-text {
      padding: 4rem 2rem;
    }
}

/* testimonials */

.testimonials {
    
    .testimonials-content {

        .testimonials-elem {
            flex-direction: column;
        }

        .testimonials-elem-reverse {
            flex-direction: column-reverse;
        }

        .testimonials-elem-profil {
            margin-bottom: 2rem;

                p {
                    text-align: center;
                }

                img {
                    display: block;
                    margin: auto;
                }
        }

    }      
            
}

/* contact */

.contact {
    padding: 5rem 1rem;
    
.contact-form {

        button {
            margin: 3rem auto 0 auto;
        }
    }
}